<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
    <a href="{% url 'customer_Logout' %}">logout</a>
{% endif %}

{% if not user.is_authenticated %}
    <a href="{% url 'customer_login_or_register' %}">login</a>
{% endif %}

<a href="{% url 'update_consignment' 0 %}">Create Consignment</a>

</body>
</html>
