<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
index site

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not user.is_authenticated %}
    <a href="{% url 'home_customer' %}">Customer</a>
    <a href="{% url 'home_driver' %}">Driver</a>
{% endif %}

</body>
</html>