<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Consignment</title>
</head>
<body>

<img src="{{ consignment.get_url_photo }}" alt="consignment_photo" width="300px" height="200px">
<h2>{{ consignment }}</h2>
<p>{{ consignment.name }}</p>
<p>{{ consignment.weight }}</p>
<p>{{ consignment.package_type }}</p>
<p>{{ consignment.number }}</p>
<p>{{ consignment.sender }}</p>
<p>{{ consignment.origin_of_sending }}</p>
<p>{{ consignment.recipient_name }}</p>
<p>{{ consignment.recipient_destination }}</p>
{% if type_user == 'DRIVER' %}
<a href="{% url 'create_waybill' sender=consignment.sender pk=consignment.pk %}" type="link">get this Consignment</a>
{% endif %}
</body>
</html>