{% extends 'Blog/base_account.html' %}

{% block title %}Sign In{% endblock title %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Transportation system</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to login</h2>
								<p>Don't have an account?</p>
								<a href="{% url 'register'%}" class="btn btn-white btn-outline-white">Sign Up</a>
							</div>
			      		</div>
						<div class="login-wrap p-4 p-lg-5">
			      		<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign in</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
										</p>
								</div>
			      		</div>
						<form action="#" class="signin-form" method="post">
							{% if messages %}
							<ul class="messages">
   								 {% for message in messages %}
   								 <li class="{{ message.tags }}">{{ message }}</li>
  								  {% endfor %}
							</ul>
							{% endif %}
							{% csrf_token %}
			      			<div class="form-group mb-3">
								{{ form.username.errors}}
			      				<label class="label" id="{{ form.username.id_for_label }} " for="username">Username</label>
			      				<input type="text" class="form-control" placeholder="Username" maxlength="150" name="{{ form.username.html_name }}"  {% if form.username.value != None %} value="{{ form.username.value }}" {% endif %}">
			      			</div>
		            		<div class="form-group mb-3">
								{{ form.password.errors}}
		            			<label class="label" id="{{ form.password.id_for_label }}" for="password">Password</label>
		            		  	<input type="password" class="form-control" placeholder="Password" name="{{ form.password.html_name }}" {% if form.password.value != None %} value="{{ form.password.value }}" {% endif %}>
		            		</div>
		            		<div class="form-group">
		            			<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
		            		</div>
		            		<div class="form-group d-md-flex">
		            			<div class="w-50 text-left">
			        	    		<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#">Forgot Password</a>
								</div>
		            		</div>
		         		</form>

		        		</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>
{% endblock body %}