{% extends 'Blog/base_account.html' %}

{% block title %}Sign Up{% endblock title %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Transportation system</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to register</h2>
								<p>Do have an account?</p>
								<a href="{% url 'blog-login'%}" class="btn btn-white btn-outline-white">Sign In</a>
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign Up</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
					<form action="#" class="signin-form" method="post">
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
								<li class="{{ message.tags }}">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% csrf_token %}
			      		<div class="form-group mb-3">
							{{ form.username.errors}}
			      			<label class="label" id="{{ form.username.id_for_label }} " for="username">Username</label>
			      			<input type="text" class="form-control" placeholder="Username" maxlength="150" name="{{ form.username.html_name }}" {% if form.username.value != None %} value="{{ form.username.value }}" {% endif %}/>
			      		</div>
		            	<div class="form-group mb-3">
						{{ form.password1.errors}}
						<label class="label" id="{{ form.password1.id_for_label }}" for="password1">Password</label>
		              	<input type="password" class="form-control" placeholder="Password" name="{{ form.password1.html_name }}" {% if form.password1.value != None %} value="{{ form.password1.value }}" {% endif %}/>
		            	</div>
						<div class="form-group mb-3">
						{{ form.password2.errors}}
						<label class="label" id="{{ form.password2.id_for_label }}" for="password2">Repeat Password</label>
		              	<input type="password" class="form-control" placeholder="Repeat your password" name="{{ form.password2.html_name }}" {% if form.password2.value != None %} value="{{ form.password2.value }}" {% endif %}/>
		            	</div>
						<div class="form-group mb-3">
						{{ form.email.errors}}
						<label class="label" id="{{ form.email.id_for_label }}" for="email">Email</label>
		              	<input type="text" class="form-control" placeholder="email" name="{{ form.email.html_name }}" {% if form.email.value != None %} value="{{ form.email.value }}"{% endif %}/>
		            	</div>
						<div class="form-group mb-3">
						{{ form.phone_number.errors}}
						<label class="label" id="{{ form.phone_number.id_for_label }}" for="phone_number">Phone </label>
		              	<input type="text" class="form-control" placeholder="+98 912 832 45 65" name="{{ form.phone_number.html_name }}" {% if form.phone_number.value != None %} value="{{ form.phone_number.value }}" {% endif %}/>
		            	</div>
						<div class="form-group mb-3">
						{{ form.phone_number.errors}}
						<label class="label" id="{{ form.avatar.id_for_label }}" for="avatar">Avatar </label>
		              	<input type="file"class="form-control" placeholder="avatar" name="{{ form.avatar.html_name }}" {% if form.avatar.value != None %} value="{{ form.avatar.value }}" {% endif %}/>
		            	</div>
		            	<div class="form-group">
		            		<button type="submit" class="form-control btn btn-primary submit px-3" value="register">Sign Up</button>
		            	</div>
		            	<div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
								<input type="checkbox" checked>
								<span class="checkmark"></span>
							</label>
						</div>
		            </div>
		          </form>

		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>




{% endblock body %}