<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <form action="{{form.action}}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" >
    </form>
    <hr>
    <p>info truck : {{truck}}</p>
    <p>info certificate : {{certificate}}</p>
    <p>info kartHoshmand : {{kart}}</p>
    <hr>
    <p><a href="{% url 'driver_register_more' %}" > Update more detail </a><p>
    <p><a href="{% url 'driver_register_certificate' %}">Create Certificate </a><p>
    <p><a href="{% url 'driver_register_truck' %}">Create Truck </a><p>
    <p><a href="{% url 'driver_register_kart' %}">Create KartHoshmand </a><p>

</body>
</html>